
@{
    ViewData["Title"] = "about";
}




<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="tit">Welcome to Ladies&Gentlemen</h2>
        </div>
        <div class="row ab">
            <br> <br> <br> <br> <br> <br> <br> <br>
            <br> <br>

            <input type="text" hidden>Our customers live life at a fast pace, do not miss a single detail and always stay connected to
            everything that is happening right now.
            For them like, share, swipe are not just everyday actions but a way of life. This is how they explore what the
            world has to offer them, keep up to date with all the right trends and share them all in their super-unique
            style.
            Right now we enter the picture and go on screen: we provide customers with the fashion they love at the fast
            pace
            they are used to living - the second they discover the hottest trend of the moment, they already know it can
            be
            found on our site and with a price tag that is not Need to think about it too much.
            While the rest of the world can barely keep up, we are the ones who dictate the pace: we are non-stop on the
            networks, live online and land every week (!) About 50 original and hysterical models on the site and in
            stores.
            Being a Ladies&Gentlemen customer is a matter of character.
            They do not let anyone and anything stop them from raving the world, and on the way to doing so they do not
            have
            time to waste - they want everything they need in one place, and we have it: the clothes that make all heads
            turn
            in the right direction, the casual-outfits The most enviable, the accessories that upgrade * everything * and
            the
            gift card they dream of.
            And what happens when Wi-Fi disconnects? They can find us in any of our 9 stores, giving everyone a sense that
            he
            is just stepping into a super-colorful party, and at this party all eyes are on him.

        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/about.css" />
}



