
@{
    ViewData["Title"] = "contcs";
}

<h2 class="tit">Contact us</h2>
<nav class="data">


    In order for you to receive a quick and efficient response, you can contact us at any time by email:

    <br>

    <a href="mailto:Ladiesandgentlemen@gmail.com" target="_blank">Ladiesandgentlemen@gmail.com</a>
    <br>



    The operating times of the customer service team are:

    <br>
    Sunday-Thursday between the hours: 08:00-20:00
    <br>
    fridays and holiday eves between the hours 08:00-13:00.
    <br>
    Our customer service team is also available in direct chat on the website, by phone 03-5568111 or in the following
    form:

    <br>




    <h2>
        contact information
    </h2>

    <label>name</label>
    <br>

    <input title="name" value="" type="text">
    </div>

    <div></div>
    <label>E-mail</label>
    <div></div>
    <input name="email" title="E-mail" value="" type="text">


    <div></div>

    <label>phone</label>
    <div></div>
    <input name="telephone" title="phone" value="" type="text">

    <div></div>

    <label>message</label>
    <div></div>
    <textarea name="comment" title="message" cols="50" rows="3"></textarea>






    <button type="submit" title="Send"><span><span>Send</span></span></button>

</nav>

@section Css{
    <link rel="stylesheet" href="~/css/contcs.css" />
}

