@model LadiesGentlmen.Models.Stock

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuantityInStock" class="control-label"></label>
                <input asp-for="QuantityInStock" class="form-control" />
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdactId" class="control-label"></label>
                <input asp-for="ProdactId" class="form-control" />
                <span asp-validation-for="ProdactId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color.Name" class="control-label"></label>
                <input asp-for="Color.Name" class="form-control" />
                <span asp-validation-for="Color.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.Name" class="control-label"></label>
                <input asp-for="Size.Name" class="form-control" />
                <span asp-validation-for="Size.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.SubCategory.Name" class="control-label"></label>
                <input asp-for="Product.SubCategory.Name" class="form-control" />
                <span asp-validation-for="Product.SubCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
